*{
    margin: 0;
    padding: 0;
    font-family: 'Orelo-sw-bi', serif;
}
body{
    background-color: #080808;
}

a{
    color: #9C9C9C !important;
}


img, .a{
    height: 150px;
    display: block;
    margin:0 auto;
}

.img-perfil{
    border: 2px solid black;
    border-radius: 150px;
    width: 200px;
    height: 190px;
    background-position: center;
    background-color: #C0C0C0;
}

header{
    margin-bottom: 20px;
}

#perfil{
    margin-bottom:20px;
    color: #9C9C9C;
}

#projetos{
    margin-bottom: 20px;
}

div#certificados{
    margin-bottom: 20px;
    /* background-color: aquamarine; */

}

div#certificados h2{
    margin-bottom: 28px;
    color: #ffffff;
}

div#certificados h5{
    color: #9C9C9C;
}
div#certificados a{
    text-decoration: none;
    color: #ffffff;
}

#contato{
    color: #ffffff;
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-top: 4px;
    list-style: none;
}
li{
    border: 2px solid #d8d8d8;
    font-size: 12px;
    font-weight: 700;
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 4px;
    display: block;
    padding: 7px 12px;
    text-decoration: none;
}
#perfil p{
    margin-top: 30px;
    text-align: left;
}

button{
    margin-top: 20px;
    background-color: #3F8E00 !important;
    /* box-shadow: 0 0 25px 0.1px #62BA1B; */
}

label {
    padding: 8px 0;
}