*{
    margin: 0;
    padding: 0;
    font-family: 'Orelo-sw-bi', serif;
}

img, .a{
    height: 300px;
    display: block;
    margin:0 auto;
}

.img-perfil{
    border: 2px solid black;
    border-radius: 150px;
    width: 200px;
    height: 190px;
    background-position: center;
    background-color: #C0C0C0;
}

header{
    margin-bottom: 20px;
}

#perfil{
    margin-bottom:20px;
}

footer{
    display: block;
    background-color: aqua;
}

footer p{
    margin-top: 10px;
    width: 100%;
}